spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/qrstock
    username: qrstock
    password: qrstock
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

logging:
  level:
    root: INFO
    org.springframework.security: INFO

jwt:
  secret: change-me

qr:
  signing-secret: change-me


